body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(88, 80, 80, 0.868);
    color: white;
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgba(88, 80, 80, 0.868);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 30%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator{
    background-color: hsl(35, 89%, 51%);
}
.operator:hover{
    background-color: hsl(35, 89%, 61%);
}
.operator:active{
    background-color: hsl(35, 89%, 71%);
}